<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
  <i class="fas fa-plus"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add Bank</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/admin/banks?_csrf=<%= csrfToken %>" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="bank-name">Bank Name</label>
            <input type="text" class="form-control" id="bank-name" name="bankName" placeholder="Enter bank name"
              required>
          </div>
          <div class="form-group">
            <label for="bank-logo">Bank Logo</label>
            <input type="file" class="form-control-file" id="bank-logo" name="bankLogo" required>
          </div>
          <div class="form-group">
            <label for="account-number">Account Number</label>
            <input type="text" class="form-control" id="account-number" name="accountNumbers"
              placeholder="Enter account number" required>
          </div>
          <div class="form-group">
            <label for="account-holder-name">Account Holder Name</label>
            <input type="text" class="form-control" id="account-holder-name" name="accountHolderName"
              placeholder="Enter holder name" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>