<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Express Basics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <p>My name is <%= name %></p>
    <p>I am <%= age %> years old</p>
    <ul>
      <% hobbies.forEach(hobby => { %>
      <li><%= hobby %></li>
      <% }) %>
    </ul>
  </body>
</html>
