<form method="post" action="/admin/properties?_csrf=<%= csrfToken %>" enctype="multipart/form-data" class="py-2">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" id="price" name="price" placeholder="Enter price" min="0" step="0.01"
      required>
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" name="city" placeholder="Enter city" required>
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" class="form-control" id="country" name="country" placeholder="Enter country" required>
  </div>
  <div class="form-group">
    <label for="categoryId">Category</label>
    <select class="custom-select" name="categoryId" required>
      <option selected>--- Category ---</option>
      <% categories.forEach(category => { %>
      <option value="<%= category.id %>"><%= category.name %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="images">Images</label>
    <input type="file" class="form-control-file" id="images" name="images" multiple required>
  </div>
  <div class="form-group">
    <label for="title">Description</label>
    <textarea class="form-control" id="description" name="description" placeholder="Enter description"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>

<%- include('../../partials/scripts/ckeditor.ejs') %>