@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

@layer utilities {
  .app-container {
    @apply container mx-auto px-36;
  }

  .text-light {
    @apply font-light text-base-300;
  }
}

@layer components {
  .app-btn {
    @apply btn normal-case;
  }

  .app-btn-primary {
    box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
    @apply btn-primary rounded font-medium leading-7
    min-h-[3.125rem] min-w-[13rem] text-[1.125rem] px-7;
  }

  .app-btn-link {
    @apply btn-link;
  }

  .disabled {
    box-shadow: none;
    @apply btn-disabled;
  }
}

@layer components {
  .app-link {
    @apply link link-hover;
  }

  .stretched-link::after {
    content: "";
    @apply z-10 absolute inset-0 bg-transparent pointer-events-auto;
  }
}

@layer utilities {
  .app-input-group {
    @apply input-group max-h-fit items-stretch;

    .side {
      @apply min-w-[2.813rem] w-[2.813rem] min-h-[2.813rem] p-0 
      flex justify-center items-center h-full font-bold text-2xl;
    }

    .textbox {
      @apply bg-base-200 text-center focus:outline-none grow min-w-0;
    }
  }
}
