@import "@/assets/scss/customs";

.header {
  border-bottom: 1px solid $gray-200;

  .navbar {
    height: 80px;
  }
}

.nav-item {
  a {
    &.nav-link {
      color: $secondary;
      padding-left: 1rem;
      padding-right: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
